{% load static %}

<div class="aside">
            <div class="record-box">
                <div class="box-title">
                <a href="#">叶语录</a>
                <a href="#" class="record-refresh"><i class="layui-icon layui-icon-refresh"></i></a>
                </div>
                <div class="record">
                <p class="record-content">说什么王权富贵，怕什么戒律清规。心恋我百转千回，快带我远走高飞。念什么善恶慈悲，等什么望穿秋水。任来世枯朽成灰，换今生与你相随。</p>
                <a href="#" class="record-author">——女儿国</a>
            </div>
            </div>

            <div class="recommended-authors">
                <div class="author-title">
                    <span>推荐作者</span>
                    <a href="#" class="change"> <i class="layui-icon layui-icon-refresh"></i>换一批</a>
                </div>
                <ul class="authors">
                    <li>
                        <a href="" class="author-img"><img src="{%static 'images/头像.jpg'%}" class="layui-nav-img"></a>
                        <a href="" class="follow"><i class="layui-icon layui-icon-addition"></i>关注</a>
                        <a href="#" class="author-name">真情而白菜</a>
                        <p> 写了439.9k字 · 2.3k喜欢</p>
                    </li>
                    <li>
                        <a href="" class="author-img"><img src="{%static 'images/头像.jpg'%}" class="layui-nav-img"></a>
                        <a href="" class="follow"><i class="layui-icon layui-icon-addition"></i>关注</a>
                        <a href="#" class="author-name">真情而白菜</a>
                        <p> 写了439.9k字 · 2.3k喜欢</p>
                    </li>
                    <li>
                        <a href="" class="author-img"><img src="{%static 'images/头像.jpg'%}" class="layui-nav-img"></a>
                        <a href="" class="follow"><i class="layui-icon layui-icon-addition"></i>关注</a>
                        <a href="#" class="author-name">真情而白菜</a>
                        <p> 写了439.9k字 · 2.3k喜欢</p>
                    </li>
                    <li>
                        <a href="" class="author-img"><img src="{%static 'images/头像.jpg'%}" class="layui-nav-img"></a>
                        <a href="" class="follow"><i class="layui-icon layui-icon-addition"></i>关注</a>
                        <a href="#" class="author-name">真情而白菜</a>
                        <p> 写了439.9k字 · 2.3k喜欢</p>
                    </li>

                </ul>
                <a href="#" class="find-more">
                    查看更多
                    <i class="layui-icon layui-icon-right"></i>
                </a>
            </div>
            <!-- <div class="record-list">
                <span class="record-title">叶语录</span>
                 <a href="#" class="change"> <i class="layui-icon layui-icon-refresh"></i></a>
                <ul>
                    <li></li>
                </ul>
            </div> -->
        </div>
