{%extends "base.html"%}
{% load static %}
{% block title %}百叶窗{% endblock %}
{%block css %}
    <link rel="stylesheet" href="{% static 'css/baiye/index-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/aside.css' %}">

{% endblock %}
{%block content%}
<div id='wrapper'>
    <main>
        <div class="content-l">
            <ul class="note-list">
                <li class="have-img">
                    <a href="#" class="wrap-img">
                        <img src="{% static 'images/7289752-fd4e7ce646030ed6.jpg' %}" alt="">
                    </a>
                    <div class="content">
                        <a href="#" class="title">用你喜欢的方式过一生</a>
                        <p class="abstract">文 | 卧猫 莎士比亚说，“有些人只拥吻影子，于是只拥有幸福的幻影。” 这话听起来似乎有点批评的意思，好像在指责一些人没有真切地活在现实生活里。...</p>
                    </div>
                    <div class="meta">
                        <span><a href="">真情而白菜</a></span>
                        <span>
                            <a href="#" class="layui-icon layui-icon-reply-fill">71</a>
                        </span>
                        <span>
                            <i class="like heat layui-icon layui-icon-heart-fill">233</i>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <a href="#" class="title">高敏感，其实是一种天赋﻿。</a>
                        <p class="abstract">01 我不仅是一个内向的人，还是一个敏感的人。以前，我从来不知道这两者之间有什么联系，以为敏感的人多半都是内向的。 最近，看了一本书《高敏感是种...</p>
                    </div>
                    <div class="meta">
                        <span><a href="">真情而白菜</a></span>
                        <span>
                            <a href="#" class="layui-icon layui-icon-reply-fill">71</a>
                        </span>
                        <span>
                            <i class="heat layui-icon layui-icon-heart-fill">233</i>
                        </span>
                    </div>
                </li>
                <li class="have-img">
                    <a href="#" class="wrap-img">
                        <img src="{% static 'images/7289752-fd4e7ce646030ed6.jpg' %}" alt="">
                    </a>
                    <div class="content">
                        <a href="#" class="title">用你喜欢的方式过一生</a>
                        <p class="abstract">文 | 卧猫 莎士比亚说，“有些人只拥吻影子，于是只拥有幸福的幻影。” 这话听起来似乎有点批评的意思，好像在指责一些人没有真切地活在现实生活里。...</p>
                    </div>
                    <div class="meta">
                        <span><a href="">真情而白菜</a></span>
                        <span>
                            <a href="#" class="layui-icon layui-icon-reply-fill">71</a>
                        </span>
                        <span>
                            <i class="heat layui-icon layui-icon-heart-fill">233</i>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <a href="#" class="title">高敏感，其实是一种天赋﻿。</a>
                        <p class="abstract">01 我不仅是一个内向的人，还是一个敏感的人。以前，我从来不知道这两者之间有什么联系，以为敏感的人多半都是内向的。 最近，看了一本书《高敏感是种...</p>
                    </div>
                    <div class="meta">
                        <span><a href="">真情而白菜</a></span>
                        <span>
                            <a href="#" class="layui-icon layui-icon-reply-fill">71</a>
                        </span>
                        <span>
                            <i class="like heat layui-icon layui-icon-heart-fill">233</i>
                        </span>
                    </div>
                </li>
                <li class="have-img">
                    <a href="#" class="wrap-img">
                        <img src="{% static 'images/7289752-fd4e7ce646030ed6.jpg' %}" alt="">
                    </a>
                    <div class="content">
                        <a href="#" class="title">用你喜欢的方式过一生</a>
                        <p class="abstract">文 | 卧猫 莎士比亚说，“有些人只拥吻影子，于是只拥有幸福的幻影。” 这话听起来似乎有点批评的意思，好像在指责一些人没有真切地活在现实生活里。...</p>
                    </div>
                    <div class="meta">
                        <span><a href="">真情而白菜</a></span>
                        <span>
                            <a href="#" class="layui-icon layui-icon-reply-fill">71</a>
                        </span>
                        <span>
                            <i class="heat layui-icon layui-icon-heart-fill">233</i>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <a href="#" class="title">高敏感，其实是一种天赋﻿。</a>
                        <p class="abstract">01 我不仅是一个内向的人，还是一个敏感的人。以前，我从来不知道这两者之间有什么联系，以为敏感的人多半都是内向的。 最近，看了一本书《高敏感是种...</p>
                    </div>
                    <div class="meta">
                        <span><a href="">真情而白菜</a></span>
                        <span>
                            <a href="#" class="layui-icon layui-icon-reply-fill">71</a>
                        </span>
                        <span>
                            <i class="heat layui-icon layui-icon-heart-fill">233</i>
                        </span>
                    </div>
                </li>
                <li class="have-img">
                    <a href="#" class="wrap-img">
                        <img src="{% static 'images/7289752-fd4e7ce646030ed6.jpg' %}" alt="">
                    </a>
                    <div class="content">
                        <a href="#" class="title">用你喜欢的方式过一生</a>
                        <p class="abstract">文 | 卧猫 莎士比亚说，“有些人只拥吻影子，于是只拥有幸福的幻影。” 这话听起来似乎有点批评的意思，好像在指责一些人没有真切地活在现实生活里。...</p>
                    </div>
                    <div class="meta">
                        <span><a href="">真情而白菜</a></span>
                        <span>
                            <a href="#" class="layui-icon layui-icon-reply-fill">71</a>
                        </span>
                        <span>
                            <i class="like heat layui-icon layui-icon-heart-fill">233</i>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <a href="#" class="title">高敏感，其实是一种天赋﻿。</a>
                        <p class="abstract">01 我不仅是一个内向的人，还是一个敏感的人。以前，我从来不知道这两者之间有什么联系，以为敏感的人多半都是内向的。 最近，看了一本书《高敏感是种...</p>
                    </div>
                    <div class="meta">
                        <span><a href="">真情而白菜</a></span>
                        <span>
                            <a href="#" class="layui-icon layui-icon-reply-fill">71</a>
                        </span>
                        <span>
                            <i class="heat layui-icon layui-icon-heart-fill">233</i>
                        </span>
                    </div>
                </li>
                <li class="have-img">
                    <a href="#" class="wrap-img">
                        <img src="{% static 'images/7289752-fd4e7ce646030ed6.jpg' %}" alt="">
                    </a>
                    <div class="content">
                        <a href="#" class="title">用你喜欢的方式过一生</a>
                        <p class="abstract">文 | 卧猫 莎士比亚说，“有些人只拥吻影子，于是只拥有幸福的幻影。” 这话听起来似乎有点批评的意思，好像在指责一些人没有真切地活在现实生活里。...</p>
                    </div>
                    <div class="meta">
                        <span><a href="">真情而白菜</a></span>
                        <span>
                            <a href="#" class="layui-icon layui-icon-reply-fill">71</a>
                        </span>
                        <span>
                            <i class="like heat layui-icon layui-icon-heart-fill">233</i>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <a href="#" class="title">高敏感，其实是一种天赋﻿。</a>
                        <p class="abstract">01 我不仅是一个内向的人，还是一个敏感的人。以前，我从来不知道这两者之间有什么联系，以为敏感的人多半都是内向的。 最近，看了一本书《高敏感是种...</p>
                    </div>
                    <div class="meta">
                        <span><a href="">真情而白菜</a></span>
                        <span>
                            <a href="#" class="layui-icon layui-icon-reply-fill">71</a>
                        </span>
                        <span>
                            <i class="heat layui-icon layui-icon-heart-fill">233</i>
                        </span>
                    </div>
                </li>
                <li class="have-img">
                    <a href="#" class="wrap-img">
                        <img src="{% static 'images/7289752-fd4e7ce646030ed6.jpg' %}" alt="">
                    </a>
                    <div class="content">
                        <a href="#" class="title">用你喜欢的方式过一生</a>
                        <p class="abstract">文 | 卧猫 莎士比亚说，“有些人只拥吻影子，于是只拥有幸福的幻影。” 这话听起来似乎有点批评的意思，好像在指责一些人没有真切地活在现实生活里。...</p>
                    </div>
                    <div class="meta">
                        <span><a href="">真情而白菜</a></span>
                        <span>
                            <a href="#" class="layui-icon layui-icon-reply-fill">71</a>
                        </span>
                        <span>
                            <i class="heat layui-icon layui-icon-heart-fill">233</i> 
                        </span>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <a href="#" class="title">高敏感，其实是一种天赋﻿。</a>
                        <p class="abstract">01 我不仅是一个内向的人，还是一个敏感的人。以前，我从来不知道这两者之间有什么联系，以为敏感的人多半都是内向的。 最近，看了一本书《高敏感是种...</p>
                    </div>
                    <div class="meta">
                        <span><a href="">真情而白菜</a></span>
                        <span>
                            <a href="#" class="layui-icon layui-icon-reply-fill">71</a>
                        </span>
                        <span>
                            <i class="like heat layui-icon layui-icon-heart-fill">233</i>
                        </span>
                    </div>
                </li>
                <li class="have-img">
                    <a href="#" class="wrap-img">
                        <img src="{% static 'images/7289752-fd4e7ce646030ed6.jpg' %}" alt="">
                    </a>
                    <div class="content">
                        <a href="#" class="title">用你喜欢的方式过一生</a>
                        <p class="abstract">文 | 卧猫 莎士比亚说，“有些人只拥吻影子，于是只拥有幸福的幻影。” 这话听起来似乎有点批评的意思，好像在指责一些人没有真切地活在现实生活里。...</p>
                    </div>
                    <div class="meta">
                        <span><a href="">真情而白菜</a></span>
                        <span>
                            <a href="#" class="layui-icon layui-icon-reply-fill">71</a>
                        </span>
                        <span>
                            <i class="heat layui-icon layui-icon-heart-fill">233</i>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <a href="#" class="title">高敏感，其实是一种天赋﻿。</a>
                        <p class="abstract">01 我不仅是一个内向的人，还是一个敏感的人。以前，我从来不知道这两者之间有什么联系，以为敏感的人多半都是内向的。 最近，看了一本书《高敏感是种...</p>
                    </div>
                    <div class="meta">
                        <span><a href="">真情而白菜</a></span>
                        <span>
                            <a href="#" class="layui-icon layui-icon-reply-fill">71</a>
                        </span>
                        <span>
                            <i class="heat layui-icon layui-icon-heart-fill">233</i>
                        </span>
                    </div>
                </li>
                <li class="have-img">
                    <a href="#" class="wrap-img">
                        <img src="{% static 'images/7289752-fd4e7ce646030ed6.jpg' %}" alt="">
                    </a>
                    <div class="content">
                        <a href="#" class="title">用你喜欢的方式过一生</a>
                        <p class="abstract">文 | 卧猫 莎士比亚说，“有些人只拥吻影子，于是只拥有幸福的幻影。” 这话听起来似乎有点批评的意思，好像在指责一些人没有真切地活在现实生活里。...</p>
                    </div>
                    <div class="meta">
                        <span><a href="">真情而白菜</a></span>
                        <span>
                            <a href="#" class="layui-icon layui-icon-reply-fill">71</a>
                        </span>
                        <span>
                            <i class="like heat layui-icon layui-icon-heart-fill">233</i>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <a href="#" class="title">高敏感，其实是一种天赋﻿。</a>
                        <p class="abstract">01 我不仅是一个内向的人，还是一个敏感的人。以前，我从来不知道这两者之间有什么联系，以为敏感的人多半都是内向的。 最近，看了一本书《高敏感是种...</p>
                    </div>
                    <div class="meta">
                        <span><a href="">真情而白菜</a></span>
                        <span>
                            <a href="#" class="layui-icon layui-icon-reply-fill">71</a>
                        </span>
                        <span>
                            <i class="heat layui-icon layui-icon-heart-fill">233</i>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    {% include 'aside.html' %}
    </main>

</div>

{%endblock%}